@page
@model BookStore.PresentationLayer.Areas.Admin.Pages.Management.AuthorManagementModel
@{
}

<h1>Authors Management Page</h1>

<a class="btn btn-primary" asp-page="CreateAuthor">Create Author</a>

<form>
    <p>
        <select asp-for="FilterProp" asp-items="Model.GetListProps()"></select>
        <select asp-for="FilterExpr" asp-items="Model.GetListExpr()"></select>
        <input type="hidden" asp-for="SortProperty" />
        <input type="hidden" asp-for="SortDirect" />
        <input type="hidden" asp-for="PageSize" />
        <input type="hidden" asp-for="CurrentPage" />
        Text: <input type="text" asp-for="FilterText" />
        <input type="submit" value="Filter" />
    </p>
</form>

@if (Model.Success is not null)
{
    <p class="text-success">@Model.Success</p>
}
@if (Model.Error is not null)
{
    <p class="text-danger">@Model.Error</p>
}

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover">
        @if (Model.Collection is not null)
        {
            @if (Model.Collection.DataCollection.Count == 0)
            {
                <tr>
                    <td colspan="10">No Record's found.</td>
                </tr>
            }
            else
            {
                <thead class="table-primary">
                    <tr class="danger">
                        <th>Id <partial name="_SortableIconPartial" model=@Model.GetSortModel("Id")></th>
                        <th>Name <partial name="_SortableIconPartial" model=@Model.GetSortModel("Name")></th>
                        <th>Products</th>
                        <th></th>
                    </tr>
                </thead>
                foreach (var item in Model.Collection?.DataCollection)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            @foreach(var prod in item.PrintingEditions)
                            {
                                <p>@prod.Title</p>
                            }
                        </td>
                        <td>
                            <a asp-page="AuthorDetails" asp-route-id=@item.Id><span><i class="fas fa-edit fa-lg"></i></span></a>
                            <a asp-page-handler="Delete"
                               asp-route-currentPage=@Model.CurrentPage
                               asp-route-pageSize=@Model.PageSize
                               asp-route-sortDirect=@Model.SortDirect
                               asp-route-sortProperty=@Model.SortProperty
                               asp-route-filterString=@Model.FilterString
                               asp-route-filterProp=@Model.FilterProp
                               asp-route-filterExpr=@Model.FilterExpr
                               asp-route-filterText=@Model.FilterText
                               asp-route-id=@item.Id><span><i class="fas fa-trash-alt fa-lg"></i></span></a>
                        </td>
                    </tr>
                }
                <partial name="_PaginationPartial" model=Model.GetPaginationModel() />
            }
        }
    </table>
</div>